@for (ctrls of carrys(); track $index;) {
<fieldset>
    <legend>{{section()}} instance: {{$index +1}}</legend>
    @for(ctrl of ctrls;track ctrl.name; let i = $index;){
    @switch (ctrl.control_type) {
    @case ('textbox') {
    <app-child-textbox-control [cp]="getFmCtrl(ctrl, $index)" />
    }
    @case ('dropdown') {
    <app-child--dropdown-boxes [cp]="getFmCtrl(ctrl, $index)" />
    }
    @case ('checkbox') {
    <app-child-checkboxes [cp]="getFmCtrl(ctrl, $index)" />
    }
    }
    }
</fieldset>
}
<!-- <button type="button"  mat-icon-button> -->
<mat-icon role="button" title="Add instance" (click)="addCtrl()">add_box</mat-icon>
<!-- </button> -->