@if (props(); as p) {
<form [id]="p.id" [name]="p.name" [formGroup]="form" [ngClass]="p.class">
    <fieldset class="fieldset">
        <div class="legend_area">
            @if (p.legend) {
            <legend>{{p.legend}}
            </legend>
            }
        </div>
        <div class="forms-container">
            <div class="form-controls">
                @for(ctrl of _controls;track ctrl.name){
                @switch (ctrl.control_type) {
                @case ('textbox') {
                <app-textbox-control [control]="getFmCtrl(ctrl.name)" [ctrl]="ctrl" />
                }
                @case ('search') {
                <app-search-box [form]="form" [ctrl]="ctrl" />
                }
                @case ('password') {
                <app-password-control-box [fgrp]="form" [control]="getFmCtrl(ctrl.name)" [ctrl]="ctrl" />
                }
                @case ('number') {
                <app-number-box [fgrp]="form" [control]="getFmCtrl(ctrl.name)" [ctrl]="ctrl" />
                }
                @case ('date') {
                <app-date-box [fgrp]="form" [control]="getFmCtrl(ctrl.name)" [ctrl]="ctrl" />
                }
                @case ('date-time') {
                <app-date-time-box [fgrp]="form" [control]="getFmCtrl(ctrl.name)" [ctrl]="ctrl" />
                }
                @case ('dropdown') {
                <app-dropdown-boxes [ctrl]="toDropDown(ctrl)" [control]="getFmCtrl(ctrl.name)" />
                }
                @case ('checkbox') {
                <app-checkboxes [form]="form" [ctrl]="toCheck(ctrl)" />
                }
                }
                @if (ctrl.children) {
                <fieldset>
                    <legend>{{ctrl.label}}</legend>
                    <app-form-children [fms]="getFdm(ctrl.name)" [farray]="getFmArray(ctrl.name)"
                        [section]="''"></app-form-children>
                </fieldset>
                }
                }
            </div>
            <button type="button" (click)="logForm()">Log</button>
            <app-act-buttons class="form-button" (btn_click)="f_submit($event, status())" [form]="form" type="button"
                [icon]="p.icon" [title]="'Save the form'" [text]="p.btnText" />
        </div>
    </fieldset>
</form>
}