.forms-container {
  display: flex;
  gap: 2.5px;
  flex-direction: column;

  .form-button {
    align-self: flex-start;
  }
}

.form-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5px;

}


// form:has(#display:checked) {
//   flex-direction: column;
//   gap: 0.2rem;
// }

.legend_area {
  display: flex;

  // mat-icon {
  //   cursor: pointer;
  // }
}