@if (cp(); as c) {
<div>
    <mat-form-field>
        <mat-label class="sr-only">{{c.control.label}}</mat-label>
        <input matInput [type]="c.control.type??''" data-test="code" title="{{c.control.title}}"
            placeholder="{{c.control.placeholder}}" [formControl]="c.input">
        @if(c.control.list){
        <datalist>

        </datalist>
        }
        @if(c.input.touched && c.input.errors){
        <mat-error>
            <span
                *ngIf="c.input.errors?.['maxlength']">{{c.input.errors['maxlength'].requiredLength}}/{{c.input.errors['maxlength'].actualLength}}
                max chars</span>
            <span *ngIf="c.input.errors?.['required']">Required</span>
            <span
                *ngIf="c.input.errors?.['minlength']">{{c.input.errors['minlength']['requiredLength']}}/{{c.input.errors['minlength'].actualLength}}
                min chars </span>
        </mat-error>
        }
    </mat-form-field>
</div>
}