<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Sign in</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <form id="reg_form" name="reg_form" [formGroup]="form" (submit)="register(form.getRawValue())">
      <fieldset>
        <legend>User details</legend>
        <ion-item>
          <ion-input type="password" formControlName="password" label="Password" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" formControlName="confirmPassword" label="Confirm Password"
            placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" formControlName="fullName" label="Full Name" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" formControlName="age" label="Age" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-select formControlName="gender" label="Sex" placeholder="Select">
            <ion-select-option value="Male">Male</ion-select-option>
            <ion-select-option value="Female">Female</ion-select-option>
            <ion-select-option value="Prefer not to say">Prefer not to say</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input type="email" formControlName="email" label="Email" placeholder=""></ion-input>
        </ion-item>
        <ion-list formArrayName="phoneNumber">
          @for (f of _pns; track $index) {
          <ion-item>
            <ion-input type="tel" [formControlName]="$index" label="Phone {{$index+1}}" placeholder=""></ion-input>
          </ion-item>
          }
        </ion-list>
        @if (mapOpts|async; as o) {
        <div class="map-container">
          <google-map class="map" (headingChanged)="head($event)" (mapClick)="moveMap($event)" height="250px"
            width="100%" [options]="o">
          </google-map>
        </div>
        }
        <ion-item>
          <ion-button [disabled]="form.invalid || form.untouched" type="submit" color="success">
            <ion-icon name="log-in-sharp"></ion-icon>
            Sign in</ion-button>
        </ion-item>
      </fieldset>
    </form>
  </ion-list>
</ion-content>