.bs_tbl_head {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  flex-basis: content;
  gap: 0.15rem;

  mat-form-field {
    max-width: 10rem;
  }

  margin-top: 10px;
}

table {
  display: contents;
  // max-width: -moz-fit-content;
  // max-width: max-content;

  & tr {
    cursor: pointer;
  }
}