<div class="bs_tbl_head">
    <div>
        <mat-form-field>
            <input matInput [formControl]="control" placeholder="Filter">
        </mat-form-field>
    </div>
    <div>
        <table class="table" mat-table [dataSource]="mt_data" matSort>
            @for (h of columns; track $index) {
            <ng-container [matColumnDef]="h">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ headers[h] }}</th>
                <td mat-cell *matCellDef="let row">{{ row[h] }}</td>
            </ng-container>

            }
            <!-- Row -->
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row (click)="rowClickAction(row)" *matRowDef="let row; columns: columns;"></tr>
        </table>
    </div>
</div>